.login-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    padding: 20px;
    gap: 30px;
}
.recuperar-conta{
    text-align: center;
}
.login-sec-wrapper{
    display: flex;
    flex-direction: column;
    
}
.input-login{
    padding: 5px 15px;
    border-radius: 50vw;
    border: 1px solid lightgray;
    
    height: 30px;
    outline: none;
    width: 280px;
    font-family: Poppins, Arial;
}
.btn-login{
    color:white;
    background-color: var(--second-color);
    padding: 10px;
    font-weight: 600;
    width: 302px;
    border-radius: 50vw;
    border: 0;
    
    font-family: Poppins, Arial;
    
}