@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}

:root{
  --orange: #F68C3F;
  --orange-input: #fde8df;
}
/*START PAGE*/
.startPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  
  & img{
    width: clamp(35vw, 25px);
    animation: start_logo_appear .5s;
  }
}
.startPage-image-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.loading-effect{
  border: 5px solid rgba(0,0,0,1);
  border-left: 5px solid rgb(0,0,0,0);
  border-radius: 50px;
  padding: 10px;
  animation: loading-spin .5s infinite linear;
}
.loading-text{
  font-weight: 600;
}
.fadeaway{
  animation: fade-away .3s ease-in-out;
}
/*APP COMPONETS*/
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: white;
  padding: 10px 0;
}
.navbar-each-icon-wrapper img{
  width: 44px;
  height: 44px;
}
.topbar{
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  padding: 10px;
  position: fixed;
  width: 100vw;
  align-items: center;
  background-color: white;
  z-index: 5;
}
.loader{
  position: fixed;
  right: 30px;
  top: 10px;
  z-index: 100;
}

.topbar-wrapper{
  display: flex;
  font-weight: 600;
  gap: 10px;
  
  & img{
    width: 44px;
    
  }
}

.main-container{
  margin: auto;
  margin-top: 75px;
  width: 95vw;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  
}

/*HOME PAGE*/
.home-main-image{
  width: 100%;
  
}
.image-info{
  display: flex;
  color: white;
  padding: 10px 10px;
  align-self: start;
  & p{
    font-weight: 600;
  };
  & img{
    width: 32px;
    padding: 0 10px;
  }
}
.home-main-image-wrapper{
  width: 100%;
  height: 255px;
  background: url(./assets/home-page-money.png);
  background-size: cover;
  background-repeat:no-repeat;
  
  display: flex;
  flex-direction: column;
  

}
.image-info-center-button{
    align-self: start;
    color: white;
    display: flex;
    margin: auto;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(15, 47, 78);
    
    padding: 10px;
    
  & img{
    width: 22px;
    

  }
}

.recentposts{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recent-people{
  display: flex;
  justify-content: left;
  scroll-behavior: smooth;
  overflow-x:scroll;
  align-items: center;
  gap: 10px;
}
.profile img{
  width: 100px;
  
  border-radius: 50%;
  
}
.recent-person{
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  padding: 10px;
  border-radius: 10px;
}

/*CLIENTS PAGE*/
.clients-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.clients-body{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.clients-each{
  display: flex;
  gap: 10px;
  align-items: center;


  & .client-details{
    display: flex;
    flex-direction: column;
    gap: 10px;

    & .client-details-values{
      color: #325a2aff;
      display: flex;
      gap: 10px;
      font-size: small;
    }
  }
  & .avatar{
    width: 70px;
    height: 100%;
  }
  & .dollar-icon{
    padding: 0 5px;
  }
}

.slidein{
  animation: slide-in .2s ease-in;
}
.slideout{
  animation: slide-out .4s ease-out;
}
.addclients{
  
  
  position: fixed;
  background-color: #fff;
  padding: 20px 0;
  height: 40vh;
  bottom: 0;
  border-radius: 20px;
  box-shadow: #00000028 -5px -5px 5px;
  width: 100vw;
  margin: auto;
}
.addclient-field{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: fit-content;
  margin: auto;
  margin-top: 40px;
  
}
.addclient-input{
  background-color: var(--orange-input);
  border: 0;
  padding: 10px;
  border-radius: 50px;
}
.addclient-submit{
  fill: var(--orange);
  border: 0;
  padding: 9px;
  border-radius: 50px;
  position: absolute;
  margin-left: 230px;
}
.addclient-top{
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  align-self: start;
  
}

.hide{
  display: none;
}

.state-dot{
  background-color: #F68C3F;
  padding: 5px;
  border-radius: 50%;
}
.profile-wrapper{
  padding: 30px 5px;
  background-color: rgba(51, 241, 12, 0.11);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  

  & .profile-details{
    color: #325a2aff;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  & .profile-details-wrapper{
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
  }
  & img{
    width: 60px;
  }
}
.header-loan-details{
  display: flex;
  justify-content: space-between;
}
.loan-details{
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.icon{
  max-width: 24px;
  max-height: 24px;
}

.individualpayments{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  
  border-radius: 10px;
  align-items: center;
  margin-top: 0px;
  
  & .individualpayments-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.totalpaidwrapper{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}